
<section class="taxonomy-section">
    <h2 id="taxonomy" class="no-margin">2. Taxonomy</h2>
    <hr>
    <ul>
        <li><a href="#country">2.1 Countries</a></li>
        <li><a href="#city">2.2 Cities</a></li>
    </ul>

    <section class="country-section">
        <h3 id="country">2.1 Countries</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                List of countries. Agents will select the country(ies) that relate to the product
                <b>name:</b> Country
                <b>key:</b> country
                <b>hierarchical:</b> True
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> France <br>
                <input type="checkbox"> Italy <br>
                <input type="checkbox"> Irland <br>
                <input type="checkbox"> Peru <br>
                <input type="checkbox"> Venezuela <br>
                <input type="checkbox"> United States <br>
                <input type="checkbox"> etc...
            </div>
        </div>
    </section>

    <section class="city-section">
        <h3 id="city">2.2 City</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                List of cities. Agents will select cities linked to the product, it could be one or many
                <b>name:</b> City
                <b>key:</b> city
                <b>hierarchical:</b> True
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> Paris <br>
                <input type="checkbox"> Amsterdam <br>
                <input type="checkbox"> New York <br>
                <input type="checkbox"> London <br>
                <input type="checkbox"> Buenos Aires <br>
                <input type="checkbox"> San Francisco<br>
                <input type="checkbox"> Roma
            </div>
        </div>
    </section>
</section><!-- .taxonomy-section -->
