Modules:

- Products
- Trip
- Paiments
- Hosting
- Feedback
- Clients
- Services
- Partners

<div class="ui three column grid">
    <div class="column">
        <b>Custom post types</b>
        Product
        trip
        hotel
        place
        service
        feedback
    </div>
    <div class="column">
        <b>Taxonomies</b>
        location
        theme
        product_type
        place_type
        service_type
        included
        excluded
        product_accompaniment
    </div>
    <div class="column">
        <b>Custom post status</b>
    </div>
</div>
