<br>&nbsp;
For the moment all the dependencies we are using we get them using Bower

<h1>Bower dependencies</h1>
<table class="ui selectable table">
    <thead>
        <tr>
            <th width="30%">Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="https://angularjs.org/" target="_blank">Angular</a></td>
            <td>A front-end MVC Framework - (we’ll wait for <a href="https://angular.io/" target="_blank">angular 2</a>)</td>
        </tr>
        <tr>
            <td><a href="https://material.angularjs.org/latest/" target="_blank">angular material</a></td>
            <td>A CSS Framework for AngularJS based on material design</td>
        </tr>
        <tr>
            <td><a href="http://archive.nicinabox.com/superslides/#1" target="_blank">SuperSlides</a></td>
            <td>Full-Screen image slider</td>
        </tr>
        <tr>
            <td><a href="http://www.owlcarousel.owlgraphic.com/" target="_blank">owl-carousel</a></td>
            <td>Tool for making image sliders</td>
        </tr>
        <tr>
            <td><a href="http://vodkabears.github.io/vide/" target="_blank">Vide</a></td>
            <td>Easy as hell jQuery plugin for video backgrounds</td>
        </tr>
        <tr>
            <td><a href="http://semantic-ui.com/" target="_blank">Semantic-ui</a></td>
            <td>CSS Framework</td>
        </tr>
    </tbody>
</table>
