<br>
<table class="ui selectable table">
    <tr>
        <td width="23%">Wordpress</td>
        <td width="25%">
            <a href="https://roots.io/bedrock/" target="_blank">Bedrock</a> <a href="https://github.com/roots/bedrock" target="_blank"><i class="github icon"></i></a>
        </td>
        <td width="52%">WordPress boilerplate with modern development tools, easier configuration, and an improved folder structure</td>
    </tr>
    <tr>
        <td width="23%">Theme</td>
        <td width="25%"><a href="https://roots.io/sage/" target="_blank">Sage</a> <a href="https://github.com/roots/sage" target="_blank"><i class="github icon"></i></a></td>
        <td width="52%">WordPress starter theme with a modern front-end development workflow.</td>
    </tr>
    <tr>
        <td width="23%">Plugins</td>
        <td width="25%"><a href="https://piklist.com/" target="_blank">Piklist</a></td>
        <td width="52%">Piklist is a fast and concise plugin that encourages WordPress rapid development. It simplifies many of the more difficult tasks in WordPress and adds functionality not presently common in WordPress core.</td>
    </tr>
    <tr>
        <td width="23%"></td>
        <td width="25%"><a href="https://wpml.org/" target="_blank">WPML</a></td>
        <td width="52%">WPML makes it easy to build multilingual sites and run them. It’s powerful enough for corporate sites, yet simple for blogs.</td>
    </tr>
    <tr>
        <td width="23%"></td>
        <td width="25%"><a href="http://wp-api.org/" target="_blank">WP-API</a></td>
        <td width="52%">Access your WordPress site’s data through an easy-to-use HTTP REST API</td>
    </tr>
</table>
