<br>&nbsp;
As mention before, agency20 it is based on the Sage Starter Theme, we’ll use the same file structure. In addition, we will try to adapt to MVC notions, therefore, the code is organized as follows:
<br>
<table class="ui selectable table">
    <thead>
        <tr>
            <th width="38%">LIST OF TEMPLATES</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>404.php</td>
            <td>Error 404 page</td>
        </tr>
        <tr>
            <td>base.php</td>
            <td>The theme wrapper which wraps the base markup around all template files</td>
        </tr>
        <tr>
            <td>index.php</td>
            <td>Archive page (used by blog page, category archives, author archives and more)</td>
        </tr>
        <tr>
            <td>page.php</td>
            <td></td>
        </tr>
        <tr>
            <td>single.php</td>
            <td>Single page</td>
        </tr>
        <tr>
            <td>template-custom.php</td>
            <td></td>
        </tr>
        <tr>
            <td>comments.php</td>
            <td></td>
        </tr>
        <tr>
            <td>content-page.php</td>
            <td></td>
        </tr>
        <tr>
            <td>content-single.php</td>
            <td></td>
        </tr>
        <tr>
            <td>content.php</td>
            <td></td>
        </tr>
        <tr>
            <td>entry-meta.php</td>
            <td></td>
        </tr>
        <tr>
            <td>footer.php</td>
            <td></td>
        </tr>
        <tr>
            <td>page-header.php</td>
            <td></td>
        </tr>
        <tr>
            <td>searchform.php</td>
            <td></td>
        </tr>
        <tr>
            <td>sidebar.php</td>
            <td></td>
        </tr>
        <tr>
            <td><i class="folder open icon"></i> lib</td>
            <td></td>
        </tr>
        <tr>
            <td><i class="folder open icon"></i> piklist</td>
            <td></td>
        </tr>
        <tr>
            <td><i class="folder open icon"></i> models (M)</td>
            <td></td>
        </tr>
        <tr>
            <td><i class="folder open icon"></i> templates (V)</td>
            <td></td>
        </tr>
        <tr>
            <td><i class="folder open icon"></i> controllers (C)</td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>LIST OF TEMPLATES</th>
            <th></th>
        </tr>
    </tfoot>
</table>

<table class="ui selectable table">
    <thead>
        <tr>
            <th width="5%"></th>
            <th width="25%">Folder name</th>
            <th width="70%">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>M</td>
            <td>models</td>
            <td>Declaration of custom post types, taxonomies, custom post status</td>
        </tr>
        <tr>
            <td>V</td>
            <td>templates</td>
            <td>Views</td>
        </tr>
        <tr>
            <td>C</td>
            <td>controllers</td>
            <td>Controller for all all custom code for all modules (The reason we don’t use lib, is because</td>
        </tr>
    </tbody>
</table>
