<style>
    .no-margin{margin-bottom:0 !important;}
</style>
<br>&nbsp;
The products manages the list of products of a travel agencies. It refers to the travel packages and services a travel agency offers to its clients. In the following table we can see a list of products and how they are organized.

<ul>
    <li><a href="#custom-post-type">1. Custom post type</a></li>
    <li><a href="#taxonomy">2. Taxonomies</a></li>
    <li><a href="#post-status">3. Post Status</a></li>
    <li><a href="#custom-field">4. Custom fields</a></li>
</ul>

<section class="custom-post-type">
    <h2 id="custom-post-type" class="no-margin">1. Custom post type</h2>
    <hr>
    1. Product
    1.1 Define:
    1.2 Global architecture
</section>
