<section class="post-status-section">
    <h2 id="post-status">3. Post status</h2>
    <hr>
    <div class="ui tablet stackable fluid steps">
        <div class="step">
            <div class="content">
                <div class="title">Draft</div>
                <div class="description">
                    Incomplete post
                    viewable by anyone
                    with proper user
                    level.
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Pending</div>
                <div class="description">
                    Awaiting a user with
                    the publish_posts
                    capability (typically
                    a user assigned the
                    Editor role) to
                    publish.
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Publish</div>
                <div class="description">
                    Viewable by
                    everyone.
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="title">Future</div>
                <div class="description">
                    Scheduled to be
                    published in a
                    future date.
                </div>
            </div>
        </div>
        <div class="active step">
            <div class="content">
                <div class="title">Inactive</div>
                <div class="description">
                    This product is
                    not longer
                    available/inactive
                    because of expiry
                    date or prices
                    have change
                </div>
            </div>
        </div>
    </div>
</section><!-- .post-status-section -->
