<section class="taxonomy-section">
    <h2 id="taxonomy" class="no-margin">2. Taxonomy</h2>
    <hr>
    <ul>
        <li><a href="#country">2.1 Countries</a></li>
        <li><a href="#city">2.2 Cities</a></li>
        <li><a href="#theme">2.3 Themes</a></li>
        <li><a href="#product-type">2.4 Product Types</a></li>
        <li><a href="#product-accompaniment">2.5 Accompaniment</a></li>
        <li><a href="#included">2.6 Included</a></li>
        <li><a href="#excluded">2.7 Excluded</a></li>
    </ul>

    <section class="country-section">
        <h3 id="country">2.1 Countries</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                List of countries. Agents will select the country(ies) that relate to the product
                <b>name:</b> Country
                <b>key:</b> country
                <b>hierarchical:</b> True
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> France <br>
                <input type="checkbox"> Italy <br>
                <input type="checkbox"> Irland <br>
                <input type="checkbox"> Peru <br>
                <input type="checkbox"> Venezuela <br>
                <input type="checkbox"> United States <br>
                <input type="checkbox"> etc...
            </div>
        </div>
    </section>

    <section class="city-section">
        <h3 id="city">2.2 City</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                List of cities. Agents will select cities linked to the product, it could be one or many
                <b>name:</b> City
                <b>key:</b> city
                <b>hierarchical:</b> True
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> Paris <br>
                <input type="checkbox"> Amsterdam <br>
                <input type="checkbox"> New York <br>
                <input type="checkbox"> London <br>
                <input type="checkbox"> Buenos Aires <br>
                <input type="checkbox"> San Francisco<br>
                <input type="checkbox"> Roma
            </div>
        </div>
    </section>

    <section class="theme-section">
        <h3 id="theme">2.3 Themes</h3>

        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                List of theme of the trip. It could be one or many.
                Understanding themes is like saying the mood of the trip.
                What kind of experiences does the tourist wants
                <b>name:</b> Theme
                <b>key:</b> theme
                <b>hierarchical:</b> True
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> Safari <br>
                <input type="checkbox"> Business <br>
                <input type="checkbox"> Beach <br>
                <input type="checkbox"> Discovery <br>
                <input type="checkbox"> Culture <br>
                <input type="checkbox"> Culinery<br>
                <input type="checkbox"> etc
            </div>
        </div>
    </section>

    <section class="product-type-section">
        <h3 id="product-type">2.3 Product Type</h3>
        product_type (Flight, Flight + accomodation, Itinerary, All inclusive)
        <table class="ui table" style="font-size:12px;">
            <thead>
                <tr>
                    <th width="28%"></th>
                    <th width="8%">Flight</th>
                    <th width="10%">Hosting</th>
                    <th width="17%">Transportation</th>
                    <th width="8%">Visits</th>
                    <th width="12%">Activities</th>
                    <th width="9%">Meals</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Flight Only</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Accomodation Only</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Cruise Only</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Package (Flight + Accomodation)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Half Itinerary (Accomodation + guided visits)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Full Itinerary (Flight + Accomodation + guided visits)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Full Cruise (Flight + Cruise)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>All Inclusive</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section><!-- .product-type-section -->

    <section class="accompaniment-section">
        <h3 id="accompaniment" class="no-margin">2.5 Accompaniment</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                List of common accompaniment. This information will be use more for
                statistics purpose and business intelligence.
                <b>name:</b> Accompaniment<br>
                <b>key:</b> accompaniment<br>
                <b>hierarchical:</b>
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="radio"> Alone<br>
                <input type="radio"> Couple<br>
                <input type="radio"> Friends<br>
                <input type="radio"> Family<br>
                <input type="radio"> Business collegues<br>
                <input type="radio"> Big group ( +> 10 people)<br>
            </div>
        </div>
    </section><!-- .product-accompaniment-section -->

    <section class="included-section">
        <h3 id="included">2.6 Included</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                This taxonomy is used to very quickly indicate the costumer
                what it is included in the offert.
                <b>name:</b> included<br>
                <b>key:</b> included<br>
                <b>hierarchical:</b> true
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> Airport taxes<br>
                <input type="checkbox"> Visa expenses<br>
                <input type="checkbox"> Breakfast<br>
                <input type="checkbox"> In place transportation<br>
                <input type="checkbox"> 3 Meals<br>
                <input type="checkbox"> Visits<br>
            </div>
        </div>
    </section><!-- .included-section -->

    <section class="excluded-section">
        <h3 id="excluded">2.7 excluded</h3>
        <div class="ui two column grid">
            <div class="column">
                <b>Detail<div class="ui divider"></div></b>
                This taxonomy is used to very quickly indicate the costumer
                what it is NOT INCLUDED in the offert. It helps avoid misunderstandings
                <b>name:</b> excluded<br>
                <b>key:</b> excluded<br>
                <b>hierarchical:</b> true
            </div>
            <div class="column">
                <b>Examples<div class="ui divider"></div></b>
                <input type="checkbox"> Airport taxes<br>
                <input type="checkbox"> Visa expenses<br>
                <input type="checkbox"> Breakfast<br>
                <input type="checkbox"> In place transportation<br>
                <input type="checkbox"> 3 Meals<br>
                <input type="checkbox"> Visits<br>
            </div>
        </div>
    </section> <!-- .excluded-section -->
</section><!-- .taxonomy-section -->
