<br>&nbsp;
<table class="ui selectable table" style="font-size:13px;">
    <thead>
        <tr>
            <th width="29%">Capability</th>
            <th width="13%">Admin</th>
            <th width="13%">Editor</th>
            <th width="12%">Author</th>
            <th width="17%">Contributor</th>
            <th width="16%">Subscriber</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>activate_plugins</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>create_users</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>delete_plugins</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>delete_themes</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>delete_users</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>edit_files</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>edit_plugins</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>edit_theme_options</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>edit_themes</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_users</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>export</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>import</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="background:lightgrey">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>install_plugins</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>install_themes</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>list_users</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>manage_options</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>promote_users</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>remove_users</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>switch_themes</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>update_core</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>update_plugins</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>update_themes</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_dashboard</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="background:lightgrey">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>moderate_comments</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>manage_categories</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>manage_links</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_others_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_others_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_published_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>publish_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_others_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_published_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_others_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_private_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_private_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>read_private_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_private_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_private_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>read_private_pages</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>unfiltered_html</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr style="background:lightgrey">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_published_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>upload_files</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>publish_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_published_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>edit_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td></td>
        </tr>
        <tr>
            <td>delete_posts</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td align="center"></td>
        </tr>
        <tr style="background:lightgrey">
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
            <td align="center"></td>
        </tr>
        <tr>
            <td>read</td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
            <td class="center aligned"><i class="large green checkmark icon"></i></td>
        </tr>
    </tbody>
</table>
